<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">gtphani</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jobsdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Annotated POJOs -->
        <mapping class="com.example.jobportal.pojo.User" />
        <mapping class="com.example.jobportal.pojo.CandidateProfile" />
        <mapping class="com.example.jobportal.pojo.RecruiterProfile" />
        <mapping class="com.example.jobportal.pojo.Company" />
        <mapping class="com.example.jobportal.pojo.JobPosting" />
        <mapping class="com.example.jobportal.pojo.JobApplication" />
    </session-factory>
</hibernate-configuration>